html{
    background-color: #ffd6ff;
}
body{
    background-color: #e7c6ff;
    padding: 0.5em 2em;
    width: fit-content;
    margin: 3em auto;
    border-radius: 30px;
}
header{
    text-align: center;
}
main{
    background-color: #edede9;
    padding: 2em 2em 0;
    width: fit-content;
    margin: 0 auto 2em;
}
form{
    width: 500px;height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0.4em 1em;
    margin: auto;
    border: none;
    resize: none;
}
textarea:hover{
    border: 5px solid #d0f4de;
    margin: -5px auto;
}
textarea:focus{
    outline: none;
    border: 5px dashed #d0f4de;
    margin: -5px auto;
}
textarea:active{
    outline: none;
    border: 5px dashed #d0f4de;
    margin: -5px auto;
}
button{
    padding: 0.5em 2em;
    margin: 2em auto;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    border: 3px solid #202020;
}
button:hover{
    border: 3px solid #e7c6ff;
    cursor: pointer;
}
button:focus{
    outline: none;
    border: 5px dashed #e7c6ff;
}
button:active{
    outline: none;
    border: 5px dashed #d0f4de;
}